[project]
	description = this is the dev git repository for the tmip
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lichris
[access "refs/for/refs/*"]
	read = group user/lichris
	push = group user/lichris
	label-Code-Review = -2..+2 group user/lichris
	label-Verified = -1..+1 group user/lichris
	rebase = group user/lichris
	removeReviewer = group user/lichris
	submit = group user/lichris
[access "refs/heads/*"]
	read = group user/lichris
	create = group user/lichris
	push = +force group user/lichris
	pushMerge = group user/lichris
[access "refs/tags/*"]
	push = +force group user/lichris
	pushTag = group user/lichris
	pushSignedTag = group user/lichris
